#Header{
    margin-bottom: 0;
    margin-top: 4px;
    width: 100%;
    height: 79px;
    background-color: #46d146;
    opacity: 0.75;
    border-style: groove;
}
#Navigation{
    width: 100%;
    height: 27px;
    background-color: #D21620;
    padding: 0;
    opacity: 0.75;
    text-align: center;
    align-content: center;
}
.NavigationBox{
    height: 27px;
    width: 125px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: #b01621;
    float: left;
}
a > p{
    text-decoration: none;
}
#LoginArea {
    margin: 0;
    padding: 0;
    float:right;
    width: 180px;
    height: 80px;
    background-color: #1D279B;
}
#LoginArea a:link {
    color: #2fff27;
    text-decoration: none;
}

#LoginArea a:visited{
    color: #2fff27;
}
#News_Info_Index li{
    text-decoration: none;
}
#Event_Info_Index p{
    color: black;
}
#Event_Info_Index a:link{
    text-decoration: none;
    color: blue;
    font-size: 40px;
}
#Event_Info_Index a:visited{
    text-decoration: none;
    color: blue;
    font-size: 40px;
}
#Main{
    background-color: #235789;
    height: 1500px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#Picture_Slider {
    width: 100%;
    height: 342px;
    margin-top: 116px;
    background-color: #235789;
}
#Header_Nav{
    position: fixed;
    width: 100%;
    height: 107px;
    background-color: transparent;
    z-index: 20;
}
#TopSpace{
    width: 100%;
    height: 1px;
}
#Highlighter{
    background-color: #46d146;
    width: 116px;
    height: 80px;
    margin-left: 20px;
}
#Logo{
    margin-left: 20px;
}
#image1{
    width: 75%;
    height: 342px;
    margin-left: 12.5%;
}
#image2{
    width: 100%;
    height: 342px;
}
#image3{
    width: 100%;
    height: 342px;
}
#image4{
    width: 75%;
    height: 342px;
    margin-left: 12.5%;
}
#image5{
    width:100%;
    height: 342px;
}
#Name{
    width: 100%;
    height: 115px;
    background-color: #235789;
    margin-bottom: 1px;
}
#infoBox_Profile{
    float: left;
    margin-left: 25px;
    margin-top: 3px;
    width: 300px;
    height: 272px;
    background-color: #D21620;
}
#Space_1{
    width: 100%;
    height: 5px;
    background-color: #235789;
}
#Event_Info_Index{
    width: 32%;
    height: 700px;
    margin-left: 10px;
    background-color: #FDFFFC;
    float: left;
    color: #1D279B;
}
#AboutUs_Info_Index{
    width: 32%;
    height: 700px;
    margin-left: 10px;
    background-color: #1D279B;
    float: left;
    color: #FDFFFC;
}
#News_Info_Index {
    width: 32%;
    height: 700px;
    margin-left: 10px;
    background-color: #FDFFFC;
    float: left;
    color: #1D279B;
}
#description{
    float: left;
    margin-left: 25px;
    margin-top: 3px;
    width: 300px;
    height: 272px;
    background-color: white;
}
#Ticket_Purchase_1{
    width: 300px;
    height: 300px;
    background-color: #D21620;
    margin-top: 15px;
    margin-left: 100px;
}